<header class="navbar">
  <div class="logo">JOSUE EMANUEL VARGUEZ MARIN</div>

  <nav class="nav-links">
    <a href="#inicio" class="active">Inicio</a>
    <a href="#sobre-mi">Sobre Mí</a>
    <a href="#habilidades">Habilidades</a>
    <!--<a href="#servicios">Servicios</a> -->
    <a href="#portafolio">Portafolio</a>
    <a href="#contacto" class="contact-btn">Contacto</a>
  </nav>
</header>

<main>
  <!-- HERO -->
  <section id="inicio" class="hero">
    <div class="hero-overlay">
      <h1>Desarrollador web.</h1>
      <div class="hero-line"></div>
      <a href="#contacto" class="hero-btn">Contáctame</a>
    </div>
  </section>

  <!-- SOBRE MÍ -->
  <section id="sobre-mi" class="section about-section">
    <div class="section-header center">
      <h2>SOBRE MÍ</h2>
      <div class="divider"></div>
      <p>
      Soy Josue Emanuel Varguez Marin, estudiante de Ingeniería en Sistemas Computacionales y autodidacta en el aprendizaje de nuevas tecnologías del mercado actual.

Soy desarrollador web utilizando el framework Angular, el cual trabaja con TypeScript, CSS y HTML. También me dedico al desarrollo de aplicaciones móviles usando el framework Flutter y el lenguaje Dart.

Además, estoy iniciando en el mundo del desarrollo de videojuegos utilizando Unity como motor gráfico. Y hay un frase que me simpre repito y dice: "No se, pero ahorita aprendo"
      </p>
    </div>
  </section>
  <!-- HABILIDADES -->
<section id="habilidades" class="section skills-section">
  <div class="section-header center">
    <h2>TECNOLOGÍAS</h2>
    <div class="divider"></div>
    <p>Herramientas y lenguajes que he usado en mis proyectos</p>
  </div>

  <div class="skills-grid">
    <div class="skill-card">
      <i class="bi bi-filetype-html"></i>
      <span>HTML</span>
    </div>

    <div class="skill-card">
      <i class="bi bi-filetype-css"></i>
      <span>CSS</span>
    </div>

    <div class="skill-card">
      <i class="bi bi-filetype-js"></i>
      <span>JavaScript</span>
    </div>

    <div class="skill-card">
      <i class="devicon-typescript-plain colored"></i>
      <span>TypeScript</span>
    </div>

    <div class="skill-card">
      <i class="devicon-postgresql-plain colored"></i>
      <span>PostgreSQL</span>
    </div>

    <div class="skill-card">
      <i class="devicon-mysql-plain colored"></i>
      <span>MySQL</span>
    </div>

    <div class="skill-card">
      <i class="bi bi-fire"></i>
      <span>Firebase</span>
    </div>

    <div class="skill-card">
      <i class="devicon-python-plain colored"></i>
      <span>Python / Flask</span>
    </div>

    <div class="skill-card">
      <i class="devicon-java-plain colored"></i>
      <span>Java</span>
    </div>

    <div class="skill-card">
      <i class="devicon-flutter-plain colored"></i>
      <span>Flutter / Dart </span>
    </div>

    <div class="skill-card">
      <i class="devicon-angularjs-plain colored"></i>
      <span>Angular</span>
    </div>
    <div class="skill-card">
  <i class="devicon-unity-plain colored"></i>
  <span>Unity</span>
</div>
  </div>
</section>
  <!-- SERVICIOS 
  <section id="servicios" class="section services-section">
    <div class="section-header center">
      <h2>SERVICIOS</h2>
      <div class="divider"></div>
      <p>Lo que puedo hacer por tu negocio</p>
    </div>

    <div class="services-grid">
      <article class="service-card">
        <i class="bi bi-code-slash service-icon"></i>
        <h3>Desarrollo Web</h3>
        <p>Páginas web modernas, rápidas y responsivas.</p>
      </article>

      <article class="service-card">
        <i class="bi bi-phone service-icon"></i>
        <h3>Diseño Responsive</h3>
        <p>Tu página adaptada para celular, tablet y computadora.</p>
      </article>

      <article class="service-card">
        <i class="bi bi-palette service-icon"></i>
        <h3>Diseño UI</h3>
        <p>Interfaces limpias, atractivas y fáciles de usar.</p>
      </article>
    </div>
  </section>
-->
  <!-- PORTAFOLIO -->
  <section id="portafolio" class="section portfolio-section">
    <div class="section-header center">
      <h2>MIS PROYECTOS</h2>
      <div class="divider"></div>
      <p>Algunos de mis trabajos recientes</p>
    </div>

    <div class="tabs">
      <button
        class="tab-btn"
        [class.active]="activeTab === 'web'"
        (click)="changeTab('web')"
      >
        WEB
      </button>
<!--
      <button
         class="tab-btn"
        [class.active]="activeTab === 'mobile'"
        (click)="changeTab('mobile')"
      >
        MOBILE
      </button> -->
    </div>
   
    <div class="projects-grid">
      <article class="project-card" *ngFor="let project of filteredProjects">
        <a
  [href]="project.url"
  target="_blank"
  rel="noopener noreferrer"
  class="project-link"
>
  <div class="project-image">
    <img [src]="project.image" [alt]="project.title" />
  </div>
</a>
        <div class="project-info">
          <h3>{{ project.title }}</h3>
        </div>
      </article>
    </div>
  </section>

  <!-- CONTACTO -->
  <section id="contacto" class="section contact-section">
    <div class="section-header center">
      <h2>CONTÁCTAME</h2>
      <div class="divider"></div>
      <p>Conéctate conmigo</p>
    </div>

    <div class="social-container">
      <a
        *ngFor="let social of socialLinks"
        [href]="social.url"
        target="_blank"
        rel="noopener noreferrer"
        class="social-icon"
        [ngClass]="social.className"
        [attr.aria-label]="social.name"
        [title]="social.name"
      >
        <i [class]="social.icon"></i>
      </a>
    </div>
  </section>
</main>